{{#if resume.education}}
    <section class="section education-section">
        <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
        {{#resume.education}}
            <div class="meta">
                <div class="upper-row">
                    <h4 class="degree">{{award studyType}} in {{area}}</h4>
                    <h5 class="meta">{{institution}}, {{year startDate}} - {{year endDate}}</h5>
                </div><!--//upper-row-->
            </div><!--//meta-->
        {{/resume.education}}
    </section><!--//section-->
{{/if}}